.modal {
  background-color: transparent;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
    279deg,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  background-size: 10px;
}

.card {
  background-color: transparent;
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.4)
  );
}
